.load {
    margin: 100px 0 200px 0;
}

.load__title {
    width: 184px;
    height: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #FFFFFF1A;
    border-radius: 8px;
    background: linear-gradient(0deg, #1E252B, #1E252B), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    color: #FF6E30;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 16px 0;
    transition: .3s linear;
}