.newcomer {
    margin-bottom: 200px;
}

.newcomer__cards-card {
    max-width: 288px;
    width: 100%;
    height: 284px;
    padding: 28px 22px;
    background: #1E252B;
    border-radius: 15px;
    border: none;
    transition: .3s linear;
}

.newcomer__cards-card:hover {
    background: linear-gradient(0deg, rgba(40, 48, 54, 0.6), rgba(40, 48, 54, 0.6)),
        linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
    transform: translateY(-20px);
    border: 2px solid;
    border-image-source: linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
}

.newcomer__cards-card-caption {
    display: flex;
    gap: 30px;
}

.newcomer__cards-card-headline {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.newcomer__cards-card-headline-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFFC7;
    transition: .2s linear;
}

.newcomer__cards-card-headline-text {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #FFA5378C;
    transition: .2s linear;
}

.newcomer__cards-card:hover .newcomer__cards-card-headline-title {
    color: #FFFFFFE5;

}

.newcomer__cards-card:hover .newcomer__cards-card-headline-text {
    color: #FFA537;
}

.newcomer__cards-card:hover .newcomer__cards-card-p {
    color: #FFFFFFC7;
}

.newcomer__cards-card-hyperlink {
    display: flex;
    gap: 43px;
    align-items: center;
}

.newcomer__cards-card-link {
    display: flex;
    gap: 24px;
}

.newcomer__cards-card-caption {
    display: flex;
    gap: 30px;
}

.newcomer__cards-card-headline {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.newcomer__cards-card-headline-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFFC7;
    transition: .2s linear;
}

.newcomer__cards-card-headline-text {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #FFA5378C;
    transition: .2s linear;
}

.newcomer__cards-card-p {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 245px;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF8C;
    transition: .2s linear;
}



.newcomer__cards-card-hyperlink-visit {
    color: #FFFFFF8C;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 106px;
    height: 42px;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    transition: .2s linear;
}

.newcomer__cards-card:hover .newcomer__cards-card-hyperlink-visit {
    background: #FF6E30;
    color: #fff;
}

.like {
    fill: #fff;
    width: 42px;
    height: 42px;
    background: #1E252B;
    transition: .2s linear;
}

.newcomer__cards-card:hover .like {
    fill: #FD3B41;
    fill-opacity: 10;
}

.newcomer__wrap {
    display: flex;
    gap: 200px;
}

.newcomer__tools-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    color: #FFFFFFE5;

}

.newcomer__tools-text {
    margin: 30px 0 60px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF8C;
    width: 427px;
}

.newcomer__tools-link {
    background: #FF6E30;
    padding: 16px 40px;
    border-radius: 8px;
    color: #fff;
    transition: .3s ease-in-out;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.newcomer__cards {
    display: flex;
    flex-wrap: wrap;
}

.block3 {
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
    justify-content: center;

}

.block4 {
    display: flex;
    gap: 24px;
    justify-content: center;
}

@media screen and (max-width:1300px) {
    .newcomer__wrap {
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }
    .newcomer__tools {
        text-align: center;
        margin: 0 auto;
    }
    .block3 {
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .block4 {
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .newcomer__cards {
        justify-content: center;
    }
}
@media screen and (max-width:460px) {
    .newcomer__tools-title {
        font-size: 36px;
    }
    .newcomer__tools-text {
        font-size: 17px;
        width: 300px;
    }
}
@media screen and (max-width:360px) {
    .newcomer__tools-title {
        font-size: 36px;
    }
    .newcomer__tools-text {
        font-size: 17px;
        width: 200px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}