.slider {
    margin-bottom: 250px;
}

.slider__mask-img1 {
    position: absolute;
    z-index: 1;
}

.slider__mask-img2 {
    position: absolute;
    margin-top: 87px;
}

.slider__mask-text {
    position: absolute;
    transform: translateY(372px) translateX(130px);
    z-index: 2;
    border-radius: 8px;
    border: 1px solid;
    border-image-source: linear-gradient(96.67deg, rgba(255, 255, 255, 0.1) -5.21%, rgba(255, 255, 255, 0) 93.75%);
    background: linear-gradient(140deg, rgba(40, 48, 54, 0.20) 90%, #007ACC);
    backdrop-filter: blur(25px);
    width: 265px;
    height: 91px;
    padding: 10px 23px 16px 23px;
}

.slider__mask-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    color: #FFFDFDC7;
}

.slider__mask-p {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFDFD8C;
}

.slider__text-p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: #FFFFFFC7;
    width: 393px;
    position: relative;
    z-index: 3;
}

.slider__text {
    position: relative;
    left: 450px;
    top: 110px;
}

.slider__text-img {
    position: relative;
    bottom: 230px;
    right: 50px;
}

.slider__wrap {
    margin-left: 200px;
    height: 492px;
    margin-bottom: 100px;
}

.slider__borders {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.chevron1 {
    position: relative;
    top: 275px;
    right: 180px;
}

.chevron2 {
    position: relative;
    bottom: 112px;
    left: 400px;
}

@media screen and (max-width:1250px) {
    .slider__wrap {}

    .slider__text {
        display: none;
    }

    .slider__mask-img1 {
        left: 50%;
        transform: translateX(-50%);
    }

    .slider__mask-img2 {
        left: 50%;
        transform: translateX(-50%);
    }

    .slider__mask-text {
        left: 50%;
        transform: translateX(-50%) translateY(370px);
    }
    .chevron1 {
        display: none;
    }
}
@media screen and (max-width:450px) {
    .slider {
        display: none;
    }
}